<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <mat-card-title>قائمة عناصر المخزون</mat-card-title>
            <button mat-raised-button color="primary" (click)="onAdd()">اضافة عنصر</button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="mt-4">
            <app-table-template
              [columnDefs]="columnDefs"
              [originalSource]="items"
              [totalItemsCount]="totalCount"
              [isShowEditButton]="true"
              [isShowDeleteButton]="true"
              [showViewButton]="true"
              (editClicked)="onEdit($event)"
              (deleteClicked)="onDelete($event)"
              (viewClicked)="onView($event)"
              (pageChanged)="onPageChange($event)">
            </app-table-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
