<div class="container-fluid p-5" [class.disabled] = "isAddGroupServiceDialogOpen">
    <div>
        <h1 *ngIf="isEdit">تعديل مجموعة</h1>
        <h1 *ngIf="!isEdit">إضافة مجموعة</h1>
        <hr>
        <div class="form-group">
            <label for="groupName">اسم المجموعة</label>
            <input class="form-control" id="groupName" [(ngModel)]="groupName" (input)="groupNameChanged()" placeholder="اسم المجموعة">
        </div>

        <div class="d-flex">
            <button mat-button color="primary" (click)="editGroupService_Click()">
                إضافة خدمات المجموعة
            </button>
        </div>

        <div class="px-5">
            <label>الخدمات الحالية:</label>
            <div class="px-2">{{groupServicesNamesCommaseperated}}</div>
        </div>
    </div>
    <!-- <div class="my-5">
        <button mat-raised-button color="accent" (click)="addItem_Click()">إضافة عنصر</button>

        <table mat-table [dataSource]="itemsGridSource" class="custom-table">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>اسم العنصر</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <ng-container *ngIf="isGroupHasPrintingService" matColumnDef="numberOfPages">
                <th mat-header-cell *matHeaderCellDef>عدد الصفحات</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>الكمية</th>
                <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
            </ng-container>
            <ng-container matColumnDef="itemPrice">
                <th mat-header-cell *matHeaderCellDef>سعر العنصر</th>
                <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
            </ng-container>
            <ng-container *ngIf="!isGroupHasSellingService" matColumnDef="stapledItemsCount">
                <th mat-header-cell *matHeaderCellDef>عدد العناصر المدبسة</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <ng-container *ngIf="!isGroupHasSellingService" matColumnDef="printedItemsCount">
                <th mat-header-cell *matHeaderCellDef>عدد العناصر المطبوعة</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>الإجمالي</th>
                <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
            </ng-container>
            <ng-container *ngIf="isGroupHasSellingService" matColumnDef="boughtItemsCount">
                <th mat-header-cell *matHeaderCellDef>عدد العناصر المشتراه</th>
                <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>اجراء</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="editItem_Click(element)">
                        تعديل
                    </button>
                    <button mat-raised-button color="warn" (click)="deleteItem_Click(element)">
                        حذف
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-shared-pagination [totalItems]="groupItems.length" (onPageChange)="onPageChangeClick($event)"></app-shared-pagination>

        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="onSave_Click()">حفظ</button>
            <button mat-raised-button (click)="onBack_Click()">رجوع</button>
        </div>

    </div> -->
</div>

<div  class="overlay disabled" *ngIf="isAddGroupServiceDialogOpen"></div>
<!-- <app-order-group-service-add-update class="groupServicesPopUp" *ngIf="!isAddGroupServiceDialogOpen"></app-order-group-service-add-update> -->
