.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}
mat-dialog-content {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}
mat-dialog-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
