<div class="header">
  <h2 mat-dialog-title id="dialog-title">{{ data.title || 'تأكيد' }}</h2>
  <button
    mat-icon-button
    [mat-dialog-close]="false"
    aria-label="Close"
    title="Close dialog"
  >
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>
</div>

<mat-dialog-content id="dialog-content">
  <p>{{ data.message || 'هل انت متاكد من تنفيذ الاجراء؟' }}</p>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    [mat-dialog-close]="false"
    color="warn"
    title="Cancel"
  >
    {{ data.cancelText || 'إلغاء' }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="closeDialog(true)"
    title="Confirm"
  >
    {{ data.confirmText || 'تأكيد' }}
  </button>
</mat-dialog-actions>
