<div class="card">
    <p-table [value]="data" stripedRows [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{product.userId}}</td>
                <td>{{product.title}}</td>
                <td>printing</td>
                <td>200</td>
            </tr>
        </ng-template>
    </p-table>
</div>