
mat-card-title{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.customer-list-container div.services{
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
