<mat-card class="p-4">
  <mat-card-title class="text-center">خدمات المجموعة</mat-card-title>
  <mat-card-content>
    <div class="row my-3">
      <!-- Categories Dropdown -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>الفئة</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategorySelect($event.value)">
            <mat-option *ngFor="let cat of serviceCategories" [value]="cat">{{ cat }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Services Dropdown -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>الخدمة</mat-label>
          <mat-select [(ngModel)]="selectedServiceId" [disabled]="!filteredServices ||filteredServices.length === 0">
            <mat-option *ngFor="let service of filteredServices" [value]="service.id">
              {{ service.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row my-3">
      <!-- Add Button -->
      <div class="col-md-12 text-center">
        <button mat-raised-button color="primary" (click)="addGroupService()">إضافة</button>
      </div>
    </div>
  </mat-card-content>
  <div></div>
  <app-table-template style="width: 95%;" class="mx-auto mt-3" *ngIf="tableData" [isShowDeleteButton]="true"
    [columnDefs]="columnDefs" [originalSource]="tableData" (deleteClicked)="onDeleteServiceCat($event)">
  </app-table-template>

  <hr>
  <div class="d-flex justify-content-center">
    <button mat-raised-button color="accent" class="px-5 mx-3 mb-3" [mat-dialog-close]="true">حفظ</button>
  </div>
</mat-card>