<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <mat-card-title>الخزينة</mat-card-title>
            <button mat-stroked-button color="primary" (click)="onTransfer()">تحويل بين الخزائن</button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="mt-4">
            <app-table-template
              [columnDefs]="columnDefs"
              [originalSource]="accounts"
              [totalItemsCount]="totalCount"
              [isShowEditButton]="false"
              [isShowDeleteButton]="false"
              [showViewButton]="true"
              [linkColumnName]="'name'"
              (linkColumnClicked)="onNameClicked($event)"
              (viewClicked)="onView($event)">
            </app-table-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
