.custom-table {
    width: 100%;
    overflow: hidden;
}

.custom-table th {
    background-color: var(--color-primary) !important;
    color: #fff;
    font-weight: bold;
    /* color: white;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px; */
}

.custom-table td.mat-cell {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.custom-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.custom-table tr:nth-child(even) {
    background-color: var(--color-secondary);
}

.custom-table tr:last-child td {
    border-bottom: none;
}

.table-btn-view.mat-mdc-raised-button,
.table-btn-edit.mat-mdc-raised-button,
.table-btn-delete.mat-mdc-raised-button,
.table-btn-secondary.mat-mdc-raised-button {
    --mdc-protected-button-label-text-color: #fff;
    --mat-protected-button-label-text-color: #fff;
}

.table-btn-view.mat-mdc-raised-button {
    --mdc-protected-button-container-color: var(--table-btn-view);
    --mat-protected-button-state-layer-color: var(--table-btn-view);
}

.table-btn-edit.mat-mdc-raised-button,
.table-btn-edit.mat-mdc-icon-button {
    --mdc-protected-button-container-color: var(--table-btn-edit);
    --mat-protected-button-state-layer-color: var(--table-btn-edit);
    --mdc-icon-button-icon-color: var(--table-btn-edit);
    color: var(--table-btn-edit);
}

.table-btn-edit.mat-mdc-raised-button {
    color: #fff;
}

.table-btn-delete.mat-mdc-raised-button,
.table-btn-delete.mat-mdc-icon-button {
    --mdc-protected-button-container-color: var(--table-btn-delete);
    --mat-protected-button-state-layer-color: var(--table-btn-delete);
    --mdc-icon-button-icon-color: var(--table-btn-delete);
    color: var(--table-btn-delete);
}

.table-btn-delete.mat-mdc-raised-button {
    color: #fff;
}

.table-btn-secondary.mat-mdc-raised-button {
    --mdc-protected-button-container-color: var(--table-btn-secondary);
    --mat-protected-button-state-layer-color: var(--table-btn-secondary);
    --mdc-protected-button-label-text-color: var(--table-btn-secondary-text);
    --mat-protected-button-label-text-color: var(--table-btn-secondary-text);
    color: var(--table-btn-secondary-text);
}