<div id="sidebar-wrapper" [class.toggled]="toggled" [attr.aria-expanded]="toggled">
  <div class="sidebar-heading">القائمة</div>
  <div class="list-group list-group-flush">
    <a
      routerLink="/clients"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faUserGroup" class="fa-icon mx-2"></fa-icon>
      <span>قائمة العملاء</span>
    </a>
    <a
      routerLink="/orderlist"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faCartArrowDown" class="fa-icon mx-2"></fa-icon>
      <span>قائمة الطلبات</span>
    </a>
    <a
      routerLink="/services"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faCog" class="fa-icon mx-2"></fa-icon>
      <span>إعدادات الخدمات</span>
    </a>
  </div>

  <div class="logout-section list-group-item list-group-item-action"
  >
    <button (click)="confirmLogout()" class="logout-btn">
      <fa-icon class="mx-2" [icon]="faSignOutAlt"></fa-icon>
      <span>تسجيل الخروج</span>
    </button>
  </div>

  <button (click)="toggleSidebar()" class="toggle-btn" aria-label="Toggle Sidebar">
    <fa-icon [icon]="toggled ? faBars : faTimes"></fa-icon>
  </button>
</div>
