<iframe
      *ngIf="pdfUrl"
      [src]="pdfUrl"
      width="100%"
      height="1000"
      frameborder="0"
    ></iframe>


    <div class="pdf-container">
      <mat-card style="width: 80%; margin: 2rem auto;">
        <mat-card-title class="my-3 color-red">
          بيان توضيحي لشيتات مدارس مستقبل مصر ترم أول (2024-2025)
        </mat-card-title >
        <mat-card-content>

          <app-table-template
            [columnDefs]="columnDefsPtOne"
            [originalSource]="originalSource"
            [reportTable]="true"
          >
          </app-table-template>

          <div class="total d-flex justify-content-between align-items-center px-5 py-2 m-0 color-red">
            <div style="color: black;">الإجمالي</div>
            <div>70050</div>
          </div>

          <div class="details details_1 p-0 color-red">
            <div>شيتات رياض الاطفال بالغلاف الليزر</div>
            <div>ورق 80 جرام + غلاف ليزر ب 10 + بشر وتغليف الي</div>
          </div>

          <app-table-template
            [isShowHeader]="false"
            [originalSource]="originalSource"
            [reportTable]="true"
          >
          </app-table-template>

          <div class="total text-center py-2 color-red">إجمالي الحساب لهذه المرحلة هو 10000</div>

          <div class="details details_2 py-2 color-red">
            <div>شيتات رياض الاطفال بالغلاف الليزر</div>
            <div>ورق 80 جرام + غلاف ليزر ب 10 + بشر وتغليف الي</div>
            <div></div>
          </div>

          <app-table-template
            [isShowHeader]="false"
            [originalSource]="originalSource"
            [reportTable]="true"
          >
          </app-table-template>

          <div class="total text-center py-2 color-red">إجمالي الحساب لهذه المرحلة هو 10000</div>

        </mat-card-content>
      </mat-card>
    </div>

